#contact-section {
    background-color: var(--primary);
}

#contact-div {
    padding: 4rem 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-div p {
    text-align: center;
    max-width: 45rem;
    margin-top: 1.5rem;
}

#mail {
    border: 1px solid var(--secondary);
    margin-top: 2rem;
    padding: 0.75rem 1.75rem;
}

#mail #mail-icon {
    vertical-align: text-bottom;
}

/* #contact-div button {
    margin-top: 2rem;
    padding: 0.75rem 1.75rem;
} */

#contact-div img {
    vertical-align: bottom;
    margin-right: 0.5rem;
}

#mail p {
    display: inline;
    font-size: 0.9rem;
}

#socials-div {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    margin-top: 3rem;
}

#socials-div img{
    vertical-align: top;
}

#footer-github-image {
    width: 19px;
    height: 18px;
}

.socials a {
    color: var(--text-opacity);
}

footer {
    padding-top: 0.25rem;
    padding-bottom: 0.75rem;
    background-color: var(--tertiary);
    text-align: center;
}

footer a {
    font-size: 0.75rem;
    color: var(--text-opacity-2);
}

@media (max-width: 450px) {
    #socials-div {
        gap: 2rem;
        justify-content: space-between;
    }

    #mail {
        padding: 0.5rem 1.3rem;
    }
}