#first-page {
    background-color: var(--primary);
    height: 100vh;
    background-image: url(../assets/portBack.png);
    background-repeat: no-repeat;
    background-position: center;
}

#hero-div {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

#hero-subdiv {
    padding-left: 7rem;
}

h1 {
    font-size: 4rem;
}

#h2 {
    font-size: 3rem;
}

#interest-p {
    max-width: 30rem;
    margin-top: 1rem;
}

#hero-cta-div {
    margin-top: 3rem;
}

#arrow {
    margin-right: 1rem;
    vertical-align: middle;
}

#message-icon {
    margin-right: 1rem;
    vertical-align: middle;
}

#project-cta {
    padding: 0.75rem 2rem;
}

#talk-cta {
    padding: 0.75rem 2rem;
    margin-left: 2rem;
}

@media (max-width: 850px) {
    #hero-subdiv {
        padding-left: 0;
    }

    #interest-p {
        max-width: max-content;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 3rem;
    }

    #h2 {
        font-size: 2rem;
    }

    #talk-cta {
        margin-left: 1rem;
    }
}

@media (max-width: 500px) {
    #hero-cta-div button {
        padding: 0.5rem 1.5rem;
    }

    #arrow, #message-icon {
        margin-right: 0.5rem;
    }
}

@media (max-width: 400px) {
    #talk-cta {
        margin-left: 0.75rem;
    }
}

@media (max-width: 340px) {
    #talk-cta {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}